.slider-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}


.slick-track {
    display: flex;
    justify-content: flex-start;
    height: auto;
}


.slick-slide {
    display: inline-block;
    justify-content: center ; 
}


.slick-slider {
    max-width: 1200px;
    position: relative;
}

/* Mỗi item trong slider */
.slider-item {
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

/* Hình ảnh trong slider */
.slider-image {
    width: 160px;
    height: auto;
    object-fit: cover;
    border-radius: 16px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 16px;
}

/* Đảm bảo nút luôn nằm trong slider */
.slider-container .slick-prev {
    left: 10px;
    z-index: 100;
}

.slider-container .slick-next {
    right: 10px;
    z-index: 100;
    background-color: rgb(149, 94, 27);
}

/* Biểu tượng trong nút */
.slick-arrow::before {
    font-family: "slick";
    font-size: 34px;
    background-color: #c92a2a;
   
}


@media (max-width: 1024px) {
    .slider-image {
        height: 300px;
    }

    .slick-prev,
    .slick-next {
        padding: 10px;
    }
}

@media (max-width: 767px) {
    .slider-image {
        height: 200px;
    }

    .slick-prev,
    .slick-next {
        padding: 8px;
        font-size: 14px;
    }
}
